<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="{{url_for('static',filename='basic.css')}}">-->
  <link rel="stylesheet" href="../static/basic.css">
  <title>Vultures - the Socialites of the Raptors</title>
</head>
<body >
    <ul class='menu'>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('eagle') }}">Eagles</a></li>
        <li><a href="{{ url_for('owl') }}">Owls</a></li>
        <li><a href="{{ url_for('vulture') }}">Vultures</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('ref') }}">References</a></li>
    </ul>
</body>
</html> 